body {
  font-family:  MS PMincho, sans-serif;
  background-color: #121212;
  color: #FFFFFF;
  margin: 0;
  padding: 0; 
}
.body3ten{
  min-height: 100vh;
  display: flex;
}
.grovalNavigation{
    flex: 1;
}
.localNavigation{
    flex: 1;
}
.content{
    flex: 2;
}
.center {
  text-align: center;
}
.parent {
  display: flex;
  justify-content: space-around;
}

.bunner {
  display: flex;
  justify-content: center;
}
.info {
  width:400px; height:800px;
  margin:0px; padding:10px; border:1px solid black;
  background-color:black;
}
a {
  color:  #F8A900;
  text-decoration: none;
  transition: color 0.3s ease;
}
button {
  background-color: #FFFFFF;
  color: rgb(0, 0, 0);
  border: none;
  line-height: 2;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
table,
td {
  border: 1px solid #FFFFFF;
}
thead,
tfoot {
  background-color: #FFFFFF;
  color: #000000;
}

.indent{
  padding-left: 2.7em;
}
.indentdual{
  padding-left: 5.4em;
}
/*
© 2025 SHINANOMAI このコンテンツは、別記なき場合にはCC-BY 4.0にて利用可能です。
*/